@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root{
    --font-family: 'Roboto', sans-serif; /* Add fallback font */
    --font-family-bold: 'Roboto Bold', sans-serif;
    --font-weight-thin: 300;
    --font-weight-medium: 500; 

    --color-blue: #5E3BEE;
    --color-navy-blue: #1C1E53;
    --color-black: #394149;
    --color-green: #006B6A;
    --color-white: #FFFFFF;
    --color-sky: #F5FCFF;
    



}

body{
    font-family: var(--font-family);
    background-color: var(--color-white);
}

header{
    padding: 13px;
    background-color: var(--color-white);
}

.header-div{ 
    display: flex; 
    
}

.logo{
    padding: 5px;
    
}

header ul{
    list-style: none;
    display: flex;
    margin:  0 0 0 18rem; 
}

.contactus{
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    border-radius: 2px;
    text-align: center;
    padding: 10px 8px 10px 5px;
    margin:  0 0 0 15rem;
    position: relative; 
    top: -10px;
}



header li{
    padding-right: 5px;
    margin: 0 15px;
    text-align: center;
    color: var(--color-black);
}


a{
    text-decoration: none;
    color: var(--color-navy-blue);
    text-align: center;
}
a:hover{
    color: var(--color-blue);
}

main{
    margin: 0;
}

.hero-section{ 
    display: flex;
    background-color: var(--color-sky);
    width: 100%;
    height: 100%
}

.hero-container{
    margin-top: 100px;
    display: flex;
    margin-left: 20px;
   
}

.img1{
    margin: 0 0 0 20rem;
}

.create{
    font-size: 40px;
}

.btn{
    background-color: var(--color-blue);
    border: none;
    border-radius: 3px;
    size: 500px;
}

.myskills-section{
    margin-top: 70px;
    margin-left: 20px;
}

.myskills-items{
    display: flex;
    gap: 100px;
}

.myskills-item{
    background-color: var(--color-sky);
    border: 2px solid var(--color-sky);
    border-radius: 3px;
    box-shadow: 0 0 3px ;
    width: 195px;
}

.picon{
    background-color: var(--color-white);
   
    border-radius: 2px;
    box-shadow: 0 0 2px ;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.hskills{
    margin-left: 10px;
    margin-top: -1px;
}

.pskills{
    font-size: 10px;
    margin-left: 10px;
    margin-top: -10px;
}

.aboutme-section{
    margin-top: 70px;
    margin-left: 20px;
}

.aboutme-container{
    display: flex;
}

.aboutme-text{
    /* border: 2px solid black; */
    width: 100%;
    margin-top: 180px;
    padding-left: 20px;
}

.paboutme{
    font-size: 13px;
    padding-right: 40px;
}

.Portfolio-section{
    margin-top: 150px;
}

.Portfolio-container{
    margin-left: 50px;
    /* border: 2px solid black; */
}

.imgp{
    /* position: absolute; */
    border-bottom: 5px solid var(--color-white);
    border-radius: 8px;
}

.pimgbox{
    /* border: 2px solid var(--color-sky); */
    border-radius: 5px;
    box-shadow: 0 0 2px ;
    margin-top: 50px;
    width: 400px;
    
}

.ptext{
    margin-left: 15px;
}

hr{
    
    background-color: var(--color-blue);
    width: 150px;
    height: 1px;
    margin-left: 0;
    margin-top: -10px;
    
    font-weight: bold;
}

.box-container{
    display:flex;
    gap: 200px;
}

.test-section{
    background-color: var(--color-sky);
    margin-top: 60px;
}

.test-container{
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.test-items{
    border: 2px solid red;
    margin-top: 50px;
    
}

.test-item{
    border: 2px solid black;
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
}

.testifiers{
    display: flex;
    gap: 9px;
    border: 1px solid green;
    height: 40px;
}

.testifers-img{
    border-radius: 20px;
}

.testifers-text{
    border: 2px solid yellow;
    margin-top: -20px;
}

.testp{
    padding-top: -1000px;
    font-size: 8px;
}