<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Personal_porfolio/Static/css/styles.css">
    <title>Personal-portfolio</title>
</head>
<body>
    <header>
        <div class="header-div">
            <div class="logo">
                <a href="#logo">Maryann</a>
            </div>
            <ul class="nav-bar">
                <li><a href="base.html">Home</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li class="contactus"><a href="contactus.html">Contact me</a></li>
            </ul>
        </div>
   </header> 
   
   <script href="/Personal_porfolio/Static/js/main.js"></script>
</body>
</html>