<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Personal_porfolio/Static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Personal-portfolio</title>
</head>
<body>
   <header>
        <div class="header-div">
            <div class="logo">
                <a href="#logo">Maryann</a>
            </div>
            <ul class="nav-bar">
                <li><a href="base.html">Home</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li class="contactus"><a href="contactus.html">Contact me</a></li>
            </ul>
        </div>
   </header> 
   <main>
    <!-- Hero Section-->
        <section class="hero-section">
            <div class="hero-container"> 
                <div>
                    <h5>Hey, I am Maryann Okoye</h5>
                    <h1 class="create">I create <span style="color: #5E3BEE;">engaging Website</span> and intuitive user interfaces </h1>
                    <h4>I design web interfaces that harmoniously blend visual appeal with functionality, ensuring captivating user experiences.
                         Each project 
                        meticulously balances aesthetics and interactivity to create engaging websites.</h4>
                    <button class="btn">Get in Touch</button>
                </div> 
                <div class="img1">
                    <img src="/Personal_porfolio/Static/Images/Photolab-641385554.jpeg" alt="" width="100%" height="200px">
                </div>
            </div>
        </section>
    <!-- End of Hero section-->
    <!-- Start of skill section-->
        <section class="myskills-section">
            <div class="myskills-Container">
                <h5>My skills</h5>
                <h2>My Expertise</h2>
                <div class="myskills-items">
                    <div class="myskills-item">
                        <img src="/Personal_porfolio/Static/Images/feather-pen 1.png" alt="webicon" width="30px" class="picon">
                        <h5 class="hskills">Web development</h5>
                        <p class="pskills">The task management website, named TODO, that I developed efficiently tracks users' activities.</p>
                    </div>
                    <div class="myskills-item">
                        <img src="/Personal_porfolio/Static/Images/feather-pen 1.png" alt="webicon" width="30px" class="picon">
                        <h5 class="hskills">Web development</h5>
                        <p class="pskills">The task management website, named TODO, that I developed efficiently tracks users' activities.</p>
                    </div>
                    <div class="myskills-item">
                        <img src="/Personal_porfolio/Static/Images/feather-pen 1.png" alt="webicon" width="30px" class="picon">
                        <h5 class="hskills">Web development</h5>
                        <p class="pskills">The task management website, named TODO, that I developed efficiently tracks users' activities.</p>
                    </div>
                    <div class="myskills-item">
                        <img src="/Personal_porfolio/Static/Images/feather-pen 1.png" alt="webicon" width="30px" class="picon">
                        <h5 class="hskills">Web development</h5>
                        <p class="pskills">The task management website, named TODO, that I developed efficiently tracks users' activities.</p>
                    </div>               
                </div>
            </div>
        </section>
    <!-- End of skill section-->
    <!-- Abotme Section -->
        <section class="aboutme-section">
            <div class="aboutme-container">
                <img src="/Personal_porfolio/Static/Images/Photolab-641385554.jpeg" alt="" width="100%" height="200px">
                <div class="aboutme-text">
                    <h2 class="haboutme">About me</h2>
                    <p class="paboutme">I specialize in front-end development, with a solid understanding of creating web applications that 
                        emphasize user interface design and user experience. Although my primary focus is on front-end,
                        I also possess some knowledge of back-end development. As a junior developer, I am continually
                        learning and growing, always eager to take on new challenges and improve my skills. For a detailed 
                        overview of my technical skills, please refer to the skills section.<br> <br>
                        My approach to development emphasizes detail-oriented, high-quality results. I thrive on challenges, 
                        leveraging my skills to deliver seamless, efficient, and visually appealing web solutions. My goal 
                        is to create engaging and robust applications that provide an exceptional user experience.
                    </p>
                </div>
            </div>
        </section>
    <!-- Abotme Section -->
    <!-- Portfolio section -->
         <section class="Portfolio-section">
            <div class="Portfolio-container">
                <h5>Recent Projects </h5>
                <h2>My Portfolio</h2>
                <div class="box-container">
                    <div class="pimgbox">
                            <img src="/Personal_porfolio/Static/Images/Photolab-641385554.jpeg" alt="Portfolio" width="400px" height="300px" class="imgp">
                            <div class="ptext">
                                <h3>TODO</h3>
                                <p class="pport">I developed a task management website, named TODO, that efficiently tracks users' activities.</p> 
                                <p style="font-weight: bold;"><a href="#">View on YouTube &NonBreakingSpace;<span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a></p>
                                <hr>  
                                <br> 
                            </div>
                    </div>
                    <div class="pimgbox">
                        <img src="/Personal_porfolio/Static/Images/Photolab-641385554.jpeg" alt="Portfolio" width="400px" height="300px" class="imgp">
                        <div class="ptext">
                            <h3>TODO</h3>
                            <p class="pport">I developed a task management website, named TODO, that efficiently tracks users' activities.</p> 
                            <p style="font-weight: bold;"><a href="#">View on YouTube &NonBreakingSpace;<span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a></p>
                            <hr>  
                            <br> 
                        </div>
                    </div>
                </div>
            </div>
         </section>
     <!-- End of Portfolio section -->
     <!-- Testifer section-->
     <section class="test-section">
        <div class="test-container">
            <h5 style="font-size: 10px;">Clients Feedback</h5>
            <h1 style="margin-top: -10px; margin-left: -2px;">Customer Testimonials</h1>
            <div class="test-items">
                <div class="test-item">
                       <h5 style="color: rgb(8, 114, 8);"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h5>
                        <p> <q>paragraph and
                        wonderful reviews from my site</q></p>
                        <div class="testifiers">
                            <img src="/Personal_porfolio/Static/Images/Photolab-641385554.jpeg" alt="testifers picture" width="20px" class="testifers-img">
                            <div class="testifers-text">
                                <h6>Victor Andrew</h6>
                                
                           </div>
                        </div>
                </div>
         </div>
     </div>
  </section>
  <section>
       <div>
          <div>
             <h5>Get in touch</h5>
             <h1>Contact me</h1>
             <p>kindly fill in this form </p>
          </div>
          <div>
             <form action="">
                 <label for="">Firstname:</label>
                 <input type="text">
                 <label for="">Lastname:</label>
                 <input type="text" value="">
                 <label for="">Email:</label>
                 <input type="text" required>
                 <label for="">Phone number:</label>
                 <input type="text" required>
                 <label for="">Message</label>
                 <textarea name="" id="" cols="30" rows="10"></textarea>
                 <label for="">Choose a topic</label>
                 <select name="" id="" value="">
                 <option value="green">green</option>
                 <option value="">red</option> 
                 </select>
                 <textarea name="" id="" cols="30" rows="10"></textarea>
                 <input type="checkbox">
                 <p>I accept the terms</p>
                 <input type="button" value="Submit">
             </form>
          </div>
       </div>
  </section>
    </main>


   <script href="/Personal_porfolio/Static/js/main.js"></script>
</body>
</html>